{sys, [
       {lib_dirs, ["../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "send_file", "1",
        [
         kernel,
         stdlib,
         sasl,
         crypto,
         handyman,
         send_file
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "send_file"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sasl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, crypto, [{incl_cond, include}]},
       {app, handyman, [{incl_cond, include}]},
       {app, send_file, [{incl_cond, include}, {lib_dir, ".."}]}
      ]}.

{target_dir, "send_file"}.

{overlay_var, "vars.config"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {template, "files/app.config", "etc/app.config"},
           {mkdir, "etc/cert"},
           {copy, "files/cert/certificate.pem", "etc/cert/certificate.pem"},
           {copy, "files/cert/key.pem", "etc/cert/key.pem"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/send_file", "bin/send_file"},
           {copy, "files/send_file.cmd", "bin/send_file.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/sf-server", "bin/sf-server"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {mkdir, "lib/prisms-patches"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
